{% extends "components/base.html" %}
{% block title %}About - rsyvarth{% endblock %}
{% block content %}
  <h1 class="title is-4">
    About Me
  </h1>
  <div class="content">
    <p class="image is-128x128">
      <img class="is-rounded" src="/static/custom/headshot.jpg">
    </p>
    <p>I have been working on startups in the games industry for over 8 years. I spend most of my time thinking about cloud infrastructure, extracting useful signals from "big" data, and building strong engineering teams.</p>
    <p>When I am not in front of a computer I enjoy cooking, scotch, backpacking, brewing beer, and a bunch of other stereotypical millenial things.</p>
  </div>
{% endblock %}
