<div class="nav-header">
  <h3 class="title is-4"><a href="/">Robert Syvarth</a></h3>
  <h4 class="subtitle is-6"><i>@rsyvarth</i></h4>
  <p>Hi 👋🏼! I'm a software engineer out of Seattle, WA working on games marketing at <a href="https://gamesight.io">Gamesight</a>. Here you can find my thoughts on software, startups, technology, and whatever else catches my interest.</p>
  <aside>
    <span class="icon">
      <a href="https://github.com/rsyvarth"><i class="fab fa-github"></i></a>
    </span>
    <span class="icon">
      <a href="https://twitter.com/rsyvarth"><i class="fab fa-twitter"></i></a>
    </span>
    <span class="icon">
      <a href="https://www.linkedin.com/in/rsyvarth/"><i class="fab fa-linkedin"></i></a>
    </span>
    <!-- <span class="icon">
      <a href="/rss"><i class="fas fa-rss"></i></a>
    </span> -->
  </aside>
</div>
<hr/>
<!-- navigation -->
<nav class="menu columns is-multiline is-mobile is-centered">
  <a href="/" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
    Home
  </a>
  <a href="/about" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
    About
  </a>
</nav>
<hr />
